
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --prmary-color:#f2726a;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    background-image: linear-gradient(#737DFE,#FFCAC9);
}
.main_profile{
    background: #242628;
    width: 300px;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    text-align: center;
}
img{
    object-fit: cover;
    width: 105%;
    height: 105%;
    object-position: center;
    
}
.profile_image{
    transition: 0.5s;
    width: 120px;
    height: 120px;
    border: 4px solid var(--prmary-color);
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    transform: translateY(25px);
}
.main_profile h2{
    margin-top: 35px;
    color: white;
}
.main_profile p{
    margin-top: 10px;
    color: var(--prmary-color);
}
.social{
    margin: 25px;
}
.social a{
    color: white;
    margin: 25px 20px;
    font-size: 20px;
}
.social a:hover{
    color: var(--prmary-color);
}
.btn{
    width: 100px;
    height: 50px;
    border: 1px solid var(--prmary-color);
    background: transparent;
    color: white;
    border-radius: 10px;
}
.main_profile button:hover{
    background: var(--prmary-color);
}
.profile_image:hover{
    width: 100%;
    height: 100%;
    border-radius: unset;
    border: none;
    transform: unset;
}